* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  transition-duration: 300ms;
  font-weight: 600;
}

.waveButton:hover {
  opacity: 0.7;
}

.waveButton:disabled {
  opacity: 0.5;
}

.messageInput {
  padding: 8px;
  border-color: #333;
  border-radius: 5px;
  transition-duration: 300ms;
  font-weight: 600;
}

.messageInput:read-only {
  border-color: #ccc;
  opacity: 0.5;
}

@media only screen and (max-width: 640px) {
  .mainContainer {
    width: 100vw;
    padding: 0 25px;
  }
  .dataContainer {
    max-width: none;
    width: 100%;
    font-size: 14px;
    word-wrap: break-word;
  }
}
